@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme */
@layer base {
  :root {
    --background: 340 100% 1.76%;
    --foreground: 0 0% 100%;
    --primary: 347 77% 50%;
    --card: 0 0% 5%;
    --muted: 0 0% 10%;
    --muted-foreground: 240 5% 65%;

    --border-radius-card: 1rem;
  }
}
